extends login

block infologin
	.alert.alert-block.alert-success.fade.in
		button.close(type="button", data-dismiss="alert") &times;
		p Bravo #{prenom} #{nom}, vous vous êtes bien inscrit gratuitement à Logipark.
		p Merci de vous connecter afin de continuer.
